<button id="{{id}}" 
        class="button {{class}} {{class2}} {{#hideOnMobile}}hide-on-mobile{{/hideOnMobile}} {{#classes}}{{this}}{{/classes}}" 
        {{#ariaLabel}}aria-label="{{this}}"{{/ariaLabel}}
        {{#disabled}}disabled{{/disabled}}>
  {{{text}}}
</button>
